<p id="notice"><%= notice %></p>

<p>
  <strong>Scientific name:</strong>
  <%= @plant.scientific_name %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @plant.common_name %>
</p>

<p>
  <strong>Family:</strong>
  <%= @plant.family %>
</p>

<p>
  <strong>Category:</strong>
  <%= @plant.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plant.description %>
</p>

<p>
  <strong>Foliage:</strong>
  <%= @plant.foliage %>
</p>

<p>
  <strong>Stems:</strong>
  <%= @plant.stems %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @plant.origin %>
</p>

<p>
  <strong>Flowers:</strong>
  <%= @plant.flowers %>
</p>

<p>
  <strong>Care:</strong>
  <%= @plant.care %>
</p>

<p>
  <strong>Exposure:</strong>
  <%= @plant.exposure %>
</p>

<p>
  <strong>Water needs:</strong>
  <%= @plant.water_needs %>
</p>

<p>
  <strong>Height:</strong>
  <%= @plant.height %>
</p>

<p>
  <strong>Growth rate:</strong>
  <%= @plant.growth_rate %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @plant.notes %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
